#build
build/
out/
bin/
obj/

#fetch content
_deps/
.cmake/

#IDE
.vs/
*.user
*.sln
*.vcxproj
*.filters

.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json

#temp
*.log
*.tmp

#s.o
.DS_Store
Thumbs.db